@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
body {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  --grey-color: #b1b1af;
  --black-color: #000000;
  --light-color: #fff;
  --light-red: #f96b6b;
  --red-color: rgb(255, 2, 2);
  --dark-mode-color: #afa8a8;
  --dark-mode-background: #958a9a;
  --inverse-player-color: #f3f3f3;
  --main-pink: #f1d4d9;
  --main-purple: #ad2bbb;
  --light-purple: #ec71f9;
  --colored-mode-color: #e47575;
  --main-white-color: #f5efef;
  --second-white-color: #63463b;
  --light-second-color: #bb3401;
  --bg-color: #da937c;
}

.App {
  height: 100vh;
  max-width: 1353px;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
  border: 1px solid var(--black-color);
  padding-top: 8px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 16px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App h1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--red-color);
}

.App .main-wrapper {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.App .main-wrapper .pokemonList {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding-bottom: 100px;
  position: relative;
}

.App .main-wrapper .pokemonList .poki-wrapper {
  width: 150px;
  height: 250px;
  border: 1px solid var(--black-color);
  margin: 5px 10px;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .img-wrapper {
  position: relative;
  width: 85%;
  height: 135px;
  margin: 10px;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .img-wrapper:before {
  content: "";
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--red-color);
  border-bottom: none;
  position: absolute;
  left: 43%;
  top: 45%;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: -1;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .img-wrapper:hover:before {
  display: none;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info img {
  z-index: 3;
  background-color: var(--light-color);
  border: 1px solid var(--grey-color);
  width: 85%;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -1px 3px 19px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 19px -7px rgba(0, 0, 0, 0.75);
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info img:hover {
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info h3 {
  margin-top: 0;
  text-transform: capitalize;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .poison {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #CCBBD4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .poison:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .grass {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #A5D58C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .grass:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .electric {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #FFE083;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .electric:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .fire {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #EB726E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .fire:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .bug {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #D1861D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .bug:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .water {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #1d8fd1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .water:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .fighting {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #b0d11d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .fighting:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .fairy {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #d11d80;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .fairy:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .ground {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #088f66;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .ground:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .psychic {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #8f8d08;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .psychic:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .rock {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #b8b8b8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .rock:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .steel {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #587396;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .steel:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .ice {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #9da1a7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .ice:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .ghost {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #5c3863;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .ghost:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .dragon {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #d84e3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .dragon:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .dark {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #58525a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .dark:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .flying {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #CD835A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .flying:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .normal {
  text-transform: capitalize;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #FFE68B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .poki-wrapper .poki-info .types .normal:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .pokemonList .load-more {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  width: 73%;
  left: 2%;
  background-color: #008CFF;
  color: var(--light-color);
  padding: 10px 0;
  font-size: 18px;
  border-radius: 2px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .pokemonList .load-more:hover {
  cursor: pointer;
  opacity: .7;
}

.App .main-wrapper .hidden {
  opacity: 0;
  visibility: hidden;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .main-wrapper .hidden .pokedex {
  margin-top: 4px;
  border: 1px solid var(--black-color);
  width: 220px;
  height: auto;
  padding: 0 10px;
  padding-bottom: 15px;
}

.App .main-wrapper .hidden .pokedex img {
  width: 100%;
  border: 1px solid var(--grey-color);
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .hidden .pokedex img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.App .main-wrapper .hidden .pokedex .name {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 800;
  margin-top: 0;
}

.App .main-wrapper .hidden .pokedex .specials .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .main-wrapper .hidden .pokedex .specials .type .head {
  padding: 2px;
  width: 75%;
  text-align: center;
  border-top: 1px solid var(--grey-color);
  border-left: 1px solid var(--grey-color);
}

.App .main-wrapper .hidden .pokedex .specials .type .content {
  padding: 2px;
  width: 25%;
  text-align: center;
  border: 1px solid var(--grey-color);
  border-bottom: none;
}

.App .main-wrapper .hidden .pokedex .specials .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .main-wrapper .hidden .pokedex .specials .info:last-child {
  border-bottom: 1px solid var(--grey-color);
}

.App .main-wrapper .hidden .pokedex .specials .info .head {
  padding: 2px;
  width: 75%;
  text-align: center;
  border-top: 1px solid var(--grey-color);
  border-left: 1px solid var(--grey-color);
}

.App .main-wrapper .hidden .pokedex .specials .info .content {
  padding: 2px;
  width: 25%;
  text-align: center;
  border: 1px solid var(--grey-color);
  border-bottom: none;
}

.App .main-wrapper .visible {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.App .main-wrapper .visible .pokedex {
  margin-top: 4px;
  position: fixed;
  border: 1px solid var(--black-color);
  width: 220px;
  height: auto;
  padding: 0 10px;
  padding-bottom: 15px;
}

.App .main-wrapper .visible .pokedex img {
  width: 100%;
  border: 1px solid var(--grey-color);
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: -1px 3px 19px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 19px -7px rgba(0, 0, 0, 0.75);
}

.App .main-wrapper .visible .pokedex img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.App .main-wrapper .visible .pokedex .name {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 5px;
}

.App .main-wrapper .visible .pokedex .specials .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .main-wrapper .visible .pokedex .specials .type .head {
  padding: 2px;
  width: 75%;
  text-align: center;
  border-top: 1px solid var(--grey-color);
  border-left: 1px solid var(--grey-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .visible .pokedex .specials .type .head:hover {
  cursor: pointer;
  color: var(--red-color);
}

.App .main-wrapper .visible .pokedex .specials .type .content {
  padding: 2px;
  width: 25%;
  text-align: center;
  border: 1px solid var(--grey-color);
  border-bottom: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .visible .pokedex .specials .type .content:hover {
  cursor: pointer;
  color: var(--red-color);
}

.App .main-wrapper .visible .pokedex .specials .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .main-wrapper .visible .pokedex .specials .info:last-child {
  border-bottom: 1px solid var(--grey-color);
}

.App .main-wrapper .visible .pokedex .specials .info .head {
  padding: 2px;
  width: 75%;
  text-align: center;
  border-top: 1px solid var(--grey-color);
  border-left: 1px solid var(--grey-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .visible .pokedex .specials .info .head:hover {
  cursor: pointer;
  color: var(--red-color);
}

.App .main-wrapper .visible .pokedex .specials .info .content {
  padding: 2px;
  width: 25%;
  text-align: center;
  border: 1px solid var(--grey-color);
  border-bottom: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .main-wrapper .visible .pokedex .specials .info .content:hover {
  cursor: pointer;
  color: var(--red-color);
}

@media (max-width: 1280px) {
  .App .main-wrapper .pokemonList .load-more {
    width: 77%;
  }
}

@media (max-width: 1024px) {
  .App .main-wrapper .pokemonList .load-more {
    width: 63%;
  }
}

@media (max-width: 991px) {
  .App .main-wrapper .visible .pokedex {
    position: static;
  }
  .App .main-wrapper .pokemonList .load-more {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .App .main-wrapper .pokemonList .load-more {
    width: 86%;
  }
}

@media (max-width: 501px) {
  .App .main-wrapper .pokemonList .load-more {
    width: 62%;
    left: 4%;
  }
  .App .main-wrapper .visible .pokedex {
    position: fixed;
    width: 150px;
  }
  .App .main-wrapper .visible .pokedex .specials .type .head {
    font-size: 12px;
  }
  .App .main-wrapper .visible .pokedex .specials .type .content {
    font-size: 11px;
  }
  .App .main-wrapper .visible .pokedex .specials .info .head {
    font-size: 12px;
  }
  .App .main-wrapper .visible .pokedex .specials .info .content {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .App .main-wrapper .pokemonList .load-more {
    width: 72%;
  }
}

@media (max-width: 375px) {
  .App .main-wrapper .pokemonList .load-more {
    width: 82%;
  }
}

@media (max-width: 320px) {
  .App .main-wrapper .pokemonList .load-more {
    width: 88%;
  }
  .App .main-wrapper .visible .pokedex {
    width: 126px;
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */